<div id="service-dashboard">
  <div class="dashboard-header">
    <p class="header">🌐 Languages</p>
    <button class="add-btn" (click)="addNewLanguage()">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/017/350/124/small_2x/plus-icon-design-png.png"
        alt="Add"
      />
      Add New Language
    </button>
  </div>

  <hr />

  <!-- If languages exist -->
  <div *ngIf="languageList$ | async as languageList; else loading">
    <table class="language-table" *ngIf="languageList.length > 0; else noData">
      <thead>
        <tr>
          <th>Language</th>
          <th>Data Coding</th>
          <th>Service Type</th>
          <th>Encoding</th>
          <th>Script</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let language of languageList" class="tbl-row">
          <td>{{ getLanguageName(language.language) }}</td>
          <td>{{ language.dataCoding }}</td>
          <td>{{ language.serviceType }}</td>
          <td>{{ language.encoding }}</td>
          <td>{{ language.script}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loading>
    <p class="status-msg">⏳ Loading languages...</p>
  </ng-template>

  <ng-template #noData>
    <p class="status-msg">⚠️ No languages available.</p>
  </ng-template>
</div>
